@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: #005874;
    width: 600px;
    height: 750px;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
}

#navbar {
    display: flex;
    flex-direction: column;
    border-bottom: solid;
    border-color: #ffbe00;
    width: 100%;
    height: 150px;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;  
}

#menu {
    display: flex;
    width: 541px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #ffbe00;
    font-family: 'Roboto';
    font-size: 2.5em;
}

h2 {
    color: #ffbe00;
    font-family: 'Roboto';
    font-size: 1.5em;

}

#playing {
    width: 80px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 25px;
    background: #1c819e;
    font-weight: 700;
    color: #ffbe00;
    text-align: center;
}

#restart {
    width: 170px;
    height: 35px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 25px;
    background: #1c819e;
    font-weight: 700;
    color: #ffbe00;
}

#board {
    display: grid;
    background-color: #ffbe00;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 10px;
    width: 541px;
    height: 540px;
    border-radius: 10px;
    border-color: #fa9856;
}

.field {
    background-color: #005874;
    color: #ffbe00;
    font-family:sans-serif;
    cursor: pointer;
    width: 177px;
    height: 177px;
    border: 1px solid var(--border-color);
    font-size: 10rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.field:hover {
    background-color: #1c819e;
}

@media only screen and (max-width: 660px) {
    div#container {
        width: 430px;
        height: 592.5px;
    }

    div#navbar {
        width: 405px;
        height: 82.5px;
    }

    div#board {
        width: 400.75px;
        height: 404px;
        grid-gap: 10px;
    }

    div.field {
        width: 128px;
        height: 128px;
        font-size: 7rem;
        border: 0.7px solid var(--border-color);
        
    }

    div#menu {
        width: 405.75px;
        height: 41.25px;
    }

    div#playing {
        width: 60px;
        height: 22.5px;
        font-size: 18px;
    }

    button#restart {
        width: 127.5px;
        height: 26.25px;
        font-size: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.3em;
    }
}

